<div class="container my-5">
  <div class="row">
    <%= cl_image_tag(@listing.photo.key, alt: @listing.mascot_name.titleize, class: "col-3")%>
    <div class="col-9">
      <div class="d-flex justify-content-between">
        <h1><%= @listing.mascot_name %></h1>
        <div class="text-decoration-none">
          <%= link_to new_listing_booking_path(@listing) do %>
            <button class="btn btn-success">Book this mascot!</button>
          <% end %>
        </div>
      </div>
      <div>
        <p class="m-0"><i class="fa-solid fa-location-dot"></i> <%= @listing.location %></p>
        <p><i class="fa-solid fa-money-bill"></i> <%= @listing.rate_usd %></p>
        <h3 class="mt-5"><%= @listing.title %></h2>
        <p><%= @listing.description %></p>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h3>Reviews</h3>
    <% if @listing.reviews.count > 0 %>
      <ul class="list-group">
        <% @listing.reviews.each do |review| %>
          <%= render "reviews/review_card", review: review %>
        <% end %>
      </ul>
    <% else %>
      <h4>No reviews yet...</h3>
    <% end %>
  </div>
</div>
