<h1><%= @listing.title %></h1>
<img src="<%=cl_image_path @listing.photo.key%>" alt="ちぃたん☆">
<h2><%= @listing.mascot_name %></h2>
<p><strong>Based in:</strong> <%= @listing.location %></p>
<p><strong>Rate:</strong> <%= @listing.rate_usd %></p>
<p><%= @listing.description %></p>
