 <div class="d-flex justify-content-between">
  <h1><%= @listing.title %></h1>
  <div>
    <%= link_to new_listing_booking_path(@listing) do %>
      <button class="btn btn-success">Book this mascot!</button>
    <% end %>

    <%= link_to listings_path do %>
      <button class="btn btn-primary">Back to all listings</button>
    <% end %>
  </div>
</div>
<img src="https://contents.oricon.co.jp/photo/img/4000/4243/detail/img660/1534140350557.jpg" alt="ちぃたん☆">

<h2><%= @listing.mascot_name %></h2>
<p><strong>Based in:</strong> <%= @listing.location %></p>
<p><strong>Rate:</strong> <%= @listing.rate_usd %></p>
<p><%= @listing.description %></p>

 <div class="m-3">
  <h3><strong>Reviews</strong></h3>

  <!-- <% if user_signed_in? %>
  <%= link_to "Write a review", new_listing_review_path(@listing), class:"btn btn-primary m-3" %>
  <% end %> -->

  <ul class="list-group review-card">
    <% if @listing.reviews.count > 0 %>
      <% @listing.reviews.each do |review| %>
        <li class="list-group-item">
          <span class="review-star"><%= icon('fa-solid', 'star') * review.rating %></span><br>
          <%= review.content %><br>
          <strong><%= review.user.nickname %></strong>
        </li>
      <% end %>
    <% else %>
      <li class="list-group-item">No Reviews</li>
    <% end %>
  </ul>
</div>
