<div class="container">
  <div class="listings-show-cards mt-4">
    <div class="col-lg-8 col-md-12">
      <div class="mascot-desc-card">
        <%= cl_image_tag(@listing.photo.key, width: 250, alt: @listing.mascot_name.titleize)%>
        <div class="mascot-info mx-3">
          <h1><%= @listing.title %></h1>
          <h5 class="mb-1"><i class="fa-solid fa-location-dot"></i> <%= @listing.location %></h5>
          <h5 class="mb-3"><i class="fa-solid fa-money-bill"></i> <%= @listing.rate_usd %></h5>
          <h3><%= @listing.mascot_name %></h2>
          <p><%= @listing.description %></p>
        </div>
      </div>

      <div class="mt-5">
        <h3>Reviews</h3>
        <!-- <% if user_signed_in? %>
        <%= link_to "Write a review", new_listing_review_path(@listing), class:"btn btn-primary m-3" %>
        <% end %> -->

        <ul class="list-group left-stroke-blue mb-5">
          <% if @listing.reviews.count > 0 %>
            <% @listing.reviews.each do |review| %>
              <li class="list-group-item">
                <span class="review-star"><%= icon('fa-solid', 'star') * review.rating %></span><br>
                <%= review.content %><br>
                <strong><%= review.user.nickname %></strong>
              </li>
            <% end %>
          <% else %>
            <li class="list-group-item">No Reviews</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 mb-5">
      <div class="form-border">
        <h2 class="text-red">Book <%= @listing.mascot_name %> now!</h2>
        <%= simple_form_for [@listing, @booking] do |f| %>
          <%= render 'bookings/form', article: [@listing, @booking] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
