<div class="col mascot-card card">
  <%= link_to(listing_path(listing), class: "card-links") do %>
    <div class="card bottom-stroke-red text-decoration-none mascot-card-width">
      <% if listing.photo.attached? %>
        <%= cl_image_tag(listing.photo.key, height: 200, alt: listing.mascot_name, class: "card-img-top") %>
      <% else %>
        <img src="http://res.cloudinary.com/df7gbyhfx/image/upload/v1675168696/tcuwmgc84uwjamrebda7.png" style="height: 200px; object-fit: cover;">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= listing.title %></h5>
        <p class="card-text m-0">Meet <strong><%= listing.mascot_name.capitalize %></strong>, <br>based in <%= listing.location %></p>
        <p class="card-text">Hire at <strong><%= listing.rate_usd %></strong></p>
      </div>
    </div>
  <% end %>
</div>
