<div class="container my-5">
  <h1>New review for <%= @listing.mascot_name %></h1>
  <%= simple_form_for [@listing, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: (1..5), as: :numeric %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
