<!DOCTYPE html>
<html>
  <head>
    <title>Characatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top bg-white">
      <div class="container-fluid">
        <%= link_to "CharaCatch", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Mascots", listings_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
          <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <%# <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
              </li>
            <% else %>
            <% end %>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
              <% else %>
                <%= link_to "Login/Signup", new_user_session_path, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <div class="container">
      <%# flash messages %>
      <p class="alert"><%= alert %></p>
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
